.user {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid silver;
  cursor: pointer;

  &:hover {
    background: #bbbbbb;
  }

  &__active {
    background: rgba(0, 0, 0, .1);
  }

  &:first-child {
    border-top: 1px solid silver;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 16px;

    img {
      border-radius: 100%;
      height: 100%;
    }
  }

  &__link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;

    &:hover {
      color: chartreuse;
    }
  }
}
