.exchange-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid lightseagreen;
  margin-right: 2px;

  &__currency {
    padding: 4px;
  }

  &__base-ccy {
    opacity: .5;
    padding: 4px;
  }

  &__buy {
    padding: 4px;
  }

  &__sale {
    padding: 4px;
  }
}
