.dialogs {

  &__field {
    resize: none;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    background: lightgrey;
    margin-bottom: 16px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
    }
  }

  &__btn {
    padding: 10px 30px;
    background: orange;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-left: auto;
    display: block;
  }
}
