.app {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-rows: 100px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-gap: 20px;
  grid-template-areas: 'h h'
                        'n s';

  &__wrap {
    grid-area: s;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }
}

.sidebar {
  grid-area: n;
  background: linear-gradient(171deg, rgba(29,64,199,1) 0%, rgba(0,255,51,1) 100%);
}


img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
}
