.dialogs {
  padding: 20px 20px 20px 0;

  &__title {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
  }

  &__users {
    border-right: 1px solid silver;
  }

  &__messages {
    padding: 20px;
  }

  &__messagesWrap {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
    padding: 20px;
    overflow-anchor: none;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar:hover {
      width: 12px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 30px;
    }

    &::-webkit-scrollbar-track:hover {
      background: #dcdcdc;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #c5c1c1;
      border-radius: 30px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #afafaf;
    }
  }

  &__newMessages {}



}

