.dialogs {
  padding: 20px;

  &__title {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
  }

  &__users {}

  &__messages {}

  &__messagesWrap {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
    padding: 20px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar:hover {
      width: 12px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 30px;
    }

    &::-webkit-scrollbar-track:hover {
      background: #dcdcdc;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #c5c1c1;
      border-radius: 30px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #afafaf;
    }
  }

  &__newMessages {}

  &__field {
    resize: none;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    background: lightgrey;
    margin-bottom: 16px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
    }
  }

  &__btn {
    padding: 10px 30px;
    background: orange;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-left: auto;
    display: block;
  }

}

